udemy/Serverless/code/stepFunctions/stateMachine/Helloworld.asl.json
{
  "Comment": "A Hello World example of the Amazon States Language using a Pass state",
  "StartAt": "WaitForSomeTime",
  "States": {
    "WaitForSomeTime": {
      "Comment": "Wait State",
      "Type": "Wait",
      "Seconds": 5,
      "Next": "squareNumber"
    },
    "squareNumber": {
      "Comment": "return square of the number",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:132172135366:function:calculateSquare",
      "TimeoutSeconds": 10,
      "Next": "HelloWorld"
    },
    "HelloWorld": {
      "Type": "Pass",
      "InputPath": "$.answer",
      "End": true
    }
  }
}
